.big_picture
 border-radius: 50%
 height: 400px
 width: 400px
 margin-top: -150px
 overflow: hidden
 margin-left: 25%
 margin-bottom: 20px
 -webkit-box-shadow: 10px 10px 22px 12px rgba(0,0,0,0.75)
 -moz-box-shadow: 10px 10px 22px 12px rgba(0,0,0,0.75)
 box-shadow: 10px 10px 22px 12px rgba(0,0,0,0.75)

.name_pic
 font-size: 80px
 text-align: center
 height: 250px
 padding-top: 150px
 background-color: rgba(0, 125, 0, 0.8)
