{{#fbf-nav primaryButton="drawer" transparent=true bigHeader=true title=model.title logo=responsive.isLayout withTabs=true imageUrl="http://www.pixelstalk.net/wp-content/uploads/2016/04/Dark-owl-wallpapers-HD.jpg" as |section|}}
  {{#if section.isContent}}
    <div class="fbf-layout__horizontal-center-flex">
      <div class="fbf-layout__content-container fbf-layout__content-container--spacing">
        {{yield}}
      </div>
    </div>
  {{/if}}
{{/fbf-nav}}
