{{#fbf-modal}}
  <div class="fbf-modal__header fbf-modal__header--style-dark" style="background-image: url('/assets/images/add-link-modal.png');">
    {{#fbf-item class="fbf-modal__header-title"}}
      <div class="fbf-item__primary-icon">
        {{!-- {{#link-to session.activityRoute}} --}}
          {{#fbf-icon}}close{{/fbf-icon}}
        {{!-- {{/link-to}} --}}
      </div>
      <div class="fbf-item__content">
        {{#fbf-text title=true light=true}}
          Test
        {{/fbf-text}}
      </div>
    {{/fbf-item}}
    {{component 'bepstore-goals@new-view'}}
    {{!-- {{yield}} --}}
  </div>
{{/fbf-modal}}

{{!-- {{modals/layout-obfuscator}} --}}
