{{#fbf-modal}}
  <div class="fbf-modal__content">
    Are you sure you want to delete this {{type}}?
  </div>
  <div class="fbf-modal__footer">
    {{#fbf-btn isColored=true disabled=model.isDestroying action='dismiss'}}
      Cancel
    {{/fbf-btn}}
    {{#fbf-btn isColored=true disabled=model.isDestroying action='destroy'}}
      Destroy
    {{/fbf-btn}}
  </div>
{{/fbf-modal}}
