<h2>Description:</h2>
{{#fbf-card}}
{{model.description}}
{{/fbf-card}}
<h3>Status:</h3>
{{#fbf-card}}
{{model.statusNow}}
{{/fbf-card}}
<h3>What is next?</h3>
{{#fbf-card}}
{{model.statusToBe}}
{{/fbf-card}}
{{outlet}}
