{{#if working}}
  <h3>Goals you can contributed to</h3>
  {{#each working as |goal|}}
    {{component 'bepstore-goals@list-item' model=goal route="index.mygoals"}}
  {{/each}}
{{/if}}

{{#if pending}}
  <h3>Goals you want to contributed to</h3>
  {{#each pending as |goal|}}
    {{component 'bepstore-goals@list-item' model=goal route="index.mygoals"}}
  {{/each}}
{{/if}}

{{#if done}}
  <h3>Finished Goals you contributed to</h3>
  {{#each done as |goal|}}
    {{component 'bepstore-goals@list-item' model=goal route="index.mygoals"}}
  {{/each}}
{{/if}}
