{{#fbf-nav primaryButton="drawer" _hasDrawer=false type="default" title=title toggleTransparency=false bigHeader=false logo=false as |section|}}
  {{#if section.isContent}}
    <div class="fbf-layout__content-header">
      {{fbf-image src="assets/images/bep_header.png"}}
    </div>

    <div class="fbf-layout__horizontal-center-flex">
      <div class="fbf-layout__content-container">
        {{yield}}
      </div>
    </div>
  {{else if section.isHeader}}
    {{nav/not-loggedin-buttons notLoggedIn=true}}
  {{/if}}
{{/fbf-nav}}
