
<div class="fbf-navigation-drawer__header">
    {{users/profile-pic model=user}}
</div>
{{#nav/nav-item 'index.mygoals' icon='home'}}
  My Goals
{{/nav/nav-item}}
{{#nav/nav-item 'users.show' 'current' icon='account_circle'}}
  My Profile
{{/nav/nav-item}}
{{#nav/nav-item 'logout' icon='exit_to_app'}}
  Logout
{{/nav/nav-item}}
