{{#fbf-item}}
  <div class="fbf-item__primary-icon">
    {{#fbf-icon}}{{icon}}{{/fbf-icon}}
  </div>
  <div class="fbf-item__content">
    {{#fbf-text light=true}}
      {{yield}}
    {{/fbf-text}}
  </div>
{{/fbf-item}}
