{{#nav/login-nav title="Login"}}
  <div class="fbf-login-card-grid">
    {{#each model as |idp i|}}
      {{component 'feedbackfruits-accounts@login-identity-provider-card' model=idp}}
    {{/each}}
  </div>

  <div class="fbf-center-container">
    <h4 class="fbf-center-container">
      Login with email
    </h4>

    {{component 'feedbackfruits-accounts@login-email-card'}}
  </div>
{{/nav/login-nav}}
