{{#nav/login-nav title="Register"}}
  <div class="fbf-center-container">
    <h2 class="fbf-center-container" style="text-align: center">
      Register
    </h2>
    {{component 'feedbackfruits-accounts@register-card'}}
    <em> This account can also be used on FeedbackFruits </em>
  </div>
{{/nav/login-nav}}
